<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>相册</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <style>
    .d{
      padding: 50px 200px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">相册</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/pic/upload">上传图片<span class="sr-only">(current)</span></a></li>
          <li><a href="/dir/create">新建相册</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="d">
    <form action="/pic/upload" method="post" enctype="multipart/form-data">
      <h1>上传图片</h1>
      <h3>请选择文件夹</h3>
      <select name="dirName" class="form-control">
        <% for(var i=0;i<dirs.length;i++){ %>
          <option value="<%= dirs[i] %>"><%= dirs[i] %></option>
        <% } %>
      </select>
      <h3>请选择图片</h3>
      <input type="file" name="pic"><br>
      <input class="btn btn-success" type="submit" value="上传">
    </form>
  </div>


</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>


</html>